
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0b0f19;
    color: #fff;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 60px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 28px;
    font-weight: 700;
    color: #00eaff;
}

nav a {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
}

nav a:hover {
    color: #00eaff;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(135deg, #0b0f19, #091d2f);
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 700;
}

.hero p {
    font-size: 18px;
    color: #d4d4d4;
    margin-bottom: 30px;
}

.btn {
    padding: 14px 32px;
    background: #00eaff;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #00b8cc;
}


.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px 30px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 18px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s ease;
    backdrop-filter: blur(8px);
}

.card h3 {
    margin-bottom: 10px;
    color: #00eaff;
}

.card p {
    color: #d4d4d4;
}

.card:hover {
    transform: translateY(-10px);
    border-color: #00eaff;
}


footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: #aaa;
    margin-top: 40px;
}


@media (max-width: 768px) {
    header {
        padding: 18px 25px;
    }

    nav a {
        margin-left: 15px;
    }

    .hero h2 {
        font-size: 36px;
    }

    .features {
        padding: 60px 10px;
    }
}
